In [9]:
import numpy as np
import pandas as pd

In [10]:
# Get raw data
def get_raw_data(path):
    df = pd.read_excel(path)
    print(df.head(3))
    return df

raw_data = get_raw_data('data/raw_data/cascaded_use_case_data.xlsx')

             Datetime  Vindhastighet Nilsebu  Lufttemp. Nilsebu  \
0 2015-01-01 00:00:00                    6.4                1.5
1 2015-01-01 01:00:00                    5.8                1.9
2 2015-01-01 02:00:00                    6.1                1.6

   Vindretning Nilsebu  RelHum Nilsebu  Vannstand Lyngsåna  \
0                200.0            97.3               0.699
1                197.5            95.0               0.700
2                205.3            96.7               0.714

   Vanntemp. Hiafossen  Vannstand Hiafossen  Lufttemp Fister  Nedbør Fister  \
0                  0.9                0.945              7.0            1.8
1                  0.9                0.946              7.0            2.0
2                  0.9                0.951              7.3            2.2

   ...  SNOW_MELT_HBV  SNOW_SWE_HBV  Evap_HBV  SOIL_WAT_HBV  GR_WAT_HBV  \
0  ...            NaN           NaN       NaN           NaN         NaN
1  ...            NaN           NaN       NaN           NaN         NaN
2  ...            NaN           NaN       NaN           NaN         NaN

   Q_Kalltveit_uten_tapping  Q_HBV_mean  Q_Lyngsaana  Vanntemp. Lyngsåna  \
0                   3.37060         NaN     1.102521                 2.0
1                   3.45242         NaN     1.109938                 2.1
2                   3.56260         NaN     1.218400                 2.1

   Vanntemp. Kalltveit elv
0                      NaN
1                      NaN
2                      NaN

[3 rows x 37 columns]

In [11]:
# Review the data
raw_data.describe()

,Vindhastighet Nilsebu,Lufttemp. Nilsebu,Vindretning Nilsebu,RelHum Nilsebu,Vannstand Lyngsåna,Vanntemp. Hiafossen,Vannstand Hiafossen,Lufttemp Fister,Nedbør Fister,Q_Lyngsvatn_overlop,...,SNOW_MELT_HBV,SNOW_SWE_HBV,Evap_HBV,SOIL_WAT_HBV,GR_WAT_HBV,Q_Kalltveit_uten_tapping,Q_HBV_mean,Q_Lyngsaana,Vanntemp. Lyngsåna,Vanntemp. Kalltveit elv
count,62955.000000,63102.000000,63079.000000,63079.000000,50380.000000,50192.000000,50192.000000,63288.000000,63288.000000,63286.000000,...,29595.000000,29595.000000,29595.000000,29595.000000,29595.000000,63288.000000,31241.000000,63288.000000,63283.000000,50316.000000
mean,-11.359088,3.636294,213.033360,64.444010,0.735474,6.242513,1.078482,8.811811,0.215365,0.035255,...,0.088353,187.212226,0.037146,71.159486,15.950311,5.589386,5.177136,2.259291,6.402902,7.309757
std,373.072147,6.919231,113.673486,43.178686,0.182148,5.352072,0.158591,5.909750,0.746016,0.742100,...,0.159276,248.752510,0.052701,18.556167,11.308697,7.764969,6.595386,3.344124,5.343528,5.477978
min,-7999.000000,-20.700000,-99.900000,-99.900000,0.331000,-0.200000,0.849000,-11.800000,0.000000,0.000000,...,0.000000,0.000000,0.000000,7.261850,0.620583,0.000000,0.006219,0.000000,-0.773633,0.000000
25%,5.200000,-0.800000,133.200000,51.500000,0.606000,1.200000,0.972000,4.600000,0.000000,0.000000,...,0.000000,3.225878,0.000000,64.480745,7.919268,1.299561,1.322910,0.469784,1.415820,2.400000
50%,6.100000,3.100000,215.600000,82.600000,0.714000,4.900000,1.029000,8.400000,0.000000,0.000000,...,0.020140,79.286333,0.006458,79.571125,13.409707,3.496592,3.363310,1.058914,5.084766,6.375000
75%,7.500000,8.600000,325.900000,96.700000,0.847000,11.200000,1.136000,13.200000,0.000000,0.000000,...,0.106016,284.564780,0.060809,83.691862,21.733892,6.673359,6.299936,2.529453,11.600000,12.175000
max,22.100000,27.200000,360.000000,99.700000,1.494000,19.900000,2.017000,32.400000,21.598444,22.397800,...,1.380904,1006.826726,0.322221,84.942103,102.194142,110.256270,137.051147,55.227400,19.400000,22.850000

In [12]:
# What dataset contains
print(raw_data.columns)

Index(['Datetime', 'Vindhastighet Nilsebu', 'Lufttemp. Nilsebu',
       'Vindretning Nilsebu', 'RelHum Nilsebu', 'Vannstand Lyngsåna',
       'Vanntemp. Hiafossen', 'Vannstand Hiafossen', 'Lufttemp Fister',
       'Nedbør Fister', 'Q_Lyngsvatn_overlop', 'Q_tapping',
       'Vannstand Kalltveit', 'Q_Kalltveit', 'Vanntemp. Kalltveit kum',
       'Nedbør Nilsebu', 'Vanntemp. Hiavatn', 'Vannstand Hiavatn',
       'Vanntemp. Musdalsvatn', 'Vannstand Musdalsvatn',
       'Vanntemp. Musdalsvatn nedstrøms', 'Vannstand Musdalsvatn nedstrøms',
       'Vanntemp. Viglesdalsvatn', 'Vannstand Viglesdalsvatn', 'Q_HBV',
       'PRECIP_HBV', 'TEMP_HBV', 'SNOW_MELT_HBV', 'SNOW_SWE_HBV', 'Evap_HBV',
       'SOIL_WAT_HBV', 'GR_WAT_HBV', 'Q_Kalltveit_uten_tapping', 'Q_HBV_mean',
       'Q_Lyngsaana', 'Vanntemp. Lyngsåna', 'Vanntemp. Kalltveit elv'],
      dtype='object')

In [13]:
# Find amount of null values in dataset
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63288 entries, 0 to 63287
Data columns (total 37 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Datetime                         63288 non-null  datetime64[ns]
 1   Vindhastighet Nilsebu            62955 non-null  float64
 2   Lufttemp. Nilsebu                63102 non-null  float64
 3   Vindretning Nilsebu              63079 non-null  float64
 4   RelHum Nilsebu                   63079 non-null  float64
 5   Vannstand Lyngsåna               50380 non-null  float64
 6   Vanntemp. Hiafossen              50192 non-null  float64
 7   Vannstand Hiafossen              50192 non-null  float64
 8   Lufttemp Fister                  63288 non-null  float64
 9   Nedbør Fister                    63288 non-null  float64
 10  Q_Lyngsvatn_overlop              63286 non-null  float64
 11  Q_tapping                        63286 non-null  float64
 12  Vannstand Kalltveit              63274 non-null  float64
 13  Q_Kalltveit                      63288 non-null  float64
 14  Vanntemp. Kalltveit kum          63269 non-null  float64
 15  Nedbør Nilsebu                   63288 non-null  float64
 16  Vanntemp. Hiavatn                45837 non-null  float64
 17  Vannstand Hiavatn                45836 non-null  float64
 18  Vanntemp. Musdalsvatn            45978 non-null  float64
 19  Vannstand Musdalsvatn            45978 non-null  float64
 20  Vanntemp. Musdalsvatn nedstrøms  45955 non-null  float64
 21  Vannstand Musdalsvatn nedstrøms  45955 non-null  float64
 22  Vanntemp. Viglesdalsvatn         45858 non-null  float64
 23  Vannstand Viglesdalsvatn         45858 non-null  float64
 24  Q_HBV                            63288 non-null  float64
 25  PRECIP_HBV                       63288 non-null  float64
 26  TEMP_HBV                         63288 non-null  float64
 27  SNOW_MELT_HBV                    29595 non-null  float64
 28  SNOW_SWE_HBV                     29595 non-null  float64
 29  Evap_HBV                         29595 non-null  float64
 30  SOIL_WAT_HBV                     29595 non-null  float64
 31  GR_WAT_HBV                       29595 non-null  float64
 32  Q_Kalltveit_uten_tapping         63288 non-null  float64
 33  Q_HBV_mean                       31241 non-null  float64
 34  Q_Lyngsaana                      63288 non-null  float64
 35  Vanntemp. Lyngsåna               63283 non-null  float64
 36  Vanntemp. Kalltveit elv          50316 non-null  float64
dtypes: datetime64[ns](1), float64(36)
memory usage: 17.9 MB

In [14]:
# Inflow HBV run on observations, m3/s
inflow = raw_data[['Q_HBV']]
inflow.describe()

              Q_HBV
count  63288.000000
mean       5.353519
std        6.811531
min        0.005526
25%        1.829147
50%        3.436150
75%        6.331031
max       89.827721